@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url("../img/pattern.jpg");
}

.container {
  margin: 20px 60px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

/* Movie List Editor */
/* Form */
.form-data-container {
  margin: 20px auto;
  width: 300px;
  padding: 0 30px 20px 30px;
  border: 1px solid black;
  border-radius: 15px;
}

.error {
  color: red;
  font-size: 16;
}

.btn-form {
  margin: 10px 5px 0 0;
  padding: 5px 10px;
}

.form-container {
  margin: 20px auto;
  width: 90%;
  padding: 10px 30px 20px 30px;
  border: 1px solid black;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-weight: bold;
}

.input-container {
  padding: 10px 0;
}

.input-container .label {
  font-weight: bold;
  float: left;
}

.input-container .input {
  margin-left: 150px;
}

.input-container input, .input-container textarea {
  width: 500px;
}

.input-container .input p {
  padding-left: 10px;
  color: red;
}

.input-container .button {
  padding: 5px 10px;
  border-radius: 20px;
}


/* Tabel */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;  
}

th {
  background-color: #074D8C;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-movie {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.btn-delete {
  display: inline-block;
  background-color: rgb(202, 60, 60);
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.btn-edit {
  display: inline-block;
  background-color: rgb(66, 184, 221);
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

li,
a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo {
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li {
  list-style: none;
  margin: 10px;
}

section {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 15px;
  padding: 30px 0;
  background-color: #ffffff;
  width: 70%;
  min-height: 85vh;
}

section h1 {
  text-align: center;
}

#film-list {
  padding: 20px 30px;
}

#film-list div {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.wrap {
  border: 1px solid #000000;
  padding: 30px;
  background-color: #ffffff;
  width: 70%;
  margin: auto;
}

.wrap ol li {
  font-weight: normal;
}

.movie-img img {
  width: 400px;
  float: right;
  padding-right: 30px;
  margin-bottom: 50px;
  position: absolute;
  clip: rect(0px,400px,200px,0px); 
}

/* Footer */
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

